.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  text-align: center;
  width: 100vw;
}

.arrowImage {
  background-color: grey;
  cursor: pointer;
  max-height: 7.5%;
  opacity: 0;
  padding: 10px;
  position: absolute;
  transition: opacity 0.3s ease;
}

.carouselContainer {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carouselContainer .arrowImage:hover {
  opacity: 1 !important;
}

.carouselContainer:hover .arrowImage {
  opacity: 0.3;
}

.carouselImage {
  max-height: 100%;
  max-width: 100%;
}

.carouselLeftArrowImage {
  left: 0;
}

.carouselRightArrowImage {
  right: 0;
}

.navBarHamBurger {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
}

.navBarHamBurgerText {
  font-size: 20px;
  font-weight: 900;
}

.navbar {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
  justify-content: flex-start;
  left: -240px;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: 0;
  transition: left 0.3s ease;
  width: 220px;
}

.navbar:hover,
.navBarHamBurger:hover + .navbar {
  left: 0;
}

.navBarH1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.navBarH2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.navBarLinks {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.navBarSection {
  margin-top: 5vh;
}

.pageContent {
  height: 90vh;
  width: calc(100vw - 540px);
}

.pageTitle {
  font-size: 24px;
  font-weight: bold;
}

.splitLayoutContainer {
  background-color: cyan;
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100%;
}

.splitLayoutTile {
  border: 1px solid black;
  flex: 1;
  height: 100%;
}
